﻿/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 18;
}

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import 'nativescript-theme-core/css/core.light.css';
@import url('~/css/buttons.css');

Page {
    background-color: white;
    font-size: 17;
}
TextField {
    margin: 10;
    padding: 10;
}
Image {
    margin-top: 20;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 80;
}
Button {
    margin: 10;
    padding: 10;
}

.action-image {
    width: 40;
    height: 40;
    vertical-align: center;
}

.action-label {
    color: rgb(7,100,255);
    font-size: 16;
    text-align:center
}

.detail-label,
.form-tab-label,
.form-label{
    margin-top: 20;
    margin-left: 20;
    margin-right: 20;
    margin-bottom: 0;
}

.list-type-label,
.form-label{
    font-size: 20;
    color: #212121;
}

.list-detail-label,
.form-tab-label{
    margin-top: 5;
    margin-left: 50;
    color: #757575;
}

.list-type-label{
    margin-top: 5;
    margin-left: 10;
    margin-bottom: 5;
    margin-right: 10;
    display: inline-block;
}

.list-detail-label{
    margin-left: 20;
    margin-top: 0;
    margin-bottom: 5;
}

.list-icon-label{
    font-size: 20;
    margin-right: 10;
    display: inline-block;
}

.detail-label{
    text-align: right;
}

.list-red,
.list-green{
    margin-right: 20;
}

.list-red{
    color: red;
}

.list-green{
    color: green;
}

.fa {
    font-family: "FontAwesome";
}

